<!DOCTYPE html>
<html lang="en">
	<!-- form-wizard.html  21 Nov 2019 03:55:16 GMT -->
	<head>
		<meta charset="UTF-8" />
		<meta
			content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"
			name="viewport"
		/>
		<title>NUPUMP - Request Transfer</title>
		<!-- General CSS Files -->
		<link rel="stylesheet" href="assets/css/app.min.css" />
		<!-- Template CSS -->
		<link rel="stylesheet" href="assets/css/style.css" />
		<link rel="stylesheet" href="assets/css/components.css" />
		<!-- Custom style CSS -->
		<link rel="stylesheet" href="assets/css/custom.css" />
		<link
			rel="shortcut icon"
			type="image/x-icon"
			href="assets/img/favicon.ico"
		/>
	</head>

	<body>
		<div class="loader"></div>
		<div id="app">
			<div class="main-wrapper main-wrapper-1">
				<div class="navbar-bg"></div>
				<%- include('../partials/nav') -%> <%-
				include('../partials/sidebar') -%>

				<!-- Main Content -->
				<div class="main-content">
					<section class="section">
						<div class="section-body">
							<div class="row clearfix">
								<div
									class="
										col-lg-12 col-md-12 col-sm-12 col-xs-12
									"
								>
									<% if(locals.forModal) { %>
									<div
										class="
											alert
											alert-success
											alert-dismissible
											show
											fade
										"
									>
										<div class="alert-body">
											<button
												class="close"
												data-dismiss="alert"
											>
												<span>&times;</span>
											</button>
											Successfully transfer the amount of
											<%= forModal.amount %> gourdes to
											your Nupeye Wallet!
										</div>
									</div>
									<% } %>
									<div class="card">
										<div class="card-header">
											<h4>Vertical Layout</h4>
										</div>
										<div class="card-body">
											<form
												id="wizard_with_validation"
												method="POST"
											>
												<h3>Nupeye Information</h3>
												<fieldset>
													<div
														class="
															form-group
															form-float
														"
													>
														<div class="form-line">
															<label
																class="
																	form-label
																"
																>Username
																(Nupeye)*</label
															>
															<input
																type="text"
																class="
																	form-control
																"
																name="username"
																required
															/>
														</div>
													</div>
													<div
														class="
															form-group
															form-float
														"
													>
														<div class="form-line">
															<label
																class="
																	form-label
																"
																>Password
																(Nupeye)*</label
															>
															<input
																type="password"
																class="
																	form-control
																"
																name="password"
																id="password"
																required
															/>
														</div>
													</div>
												</fieldset>
												<h3>Amount Information</h3>
												<fieldset>
													<div
														class="
															form-group
															form-float
														"
													>
														<div class="form-line">
															<label
																class="
																	form-label
																"
																>Phone (Nupeye)*
															</label>
															<input
																type="tel"
																name="phone"
																class="
																	form-control
																"
																required
															/>
														</div>
													</div>
													<div
														class="
															form-group
															form-float
														"
													>
														<div class="form-line">
															<label
																class="
																	form-label
																"
																>Amount *</label
															>
															<input
																type="number"
																name="amount"
																class="
																	form-control
																"
																required
															/>
														</div>
													</div>
													<div
														class="
															form-group
															form-float
														"
													>
														<div class="form-line">
															<input
																type="hidden"
																name="token"
																class="
																	form-control
																"
																value="<%= locals.data %>"
															/>
														</div>
													</div>
												</fieldset>
												<h3>Confirmation</h3>
												<fieldset>
													<input
														id="acceptTerms-2"
														name="acceptTerms"
														type="checkbox"
														required
													/>
													<label for="acceptTerms-2"
														>Check to confirm your
														transaction.</label
													>
												</fieldset>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<div class="settingSidebar">
						<a href="javascript:void(0)" class="settingPanelToggle">
							<i class="fa fa-spin fa-cog"></i>
						</a>
						<div
							class="
								settingSidebar-body
								ps-container ps-theme-default
							"
						>
							<div class="fade show active">
								<div class="setting-panel-header">
									Setting Panel
								</div>
								<div class="p-15 border-bottom">
									<h6 class="font-medium m-b-10">
										Select Layout
									</h6>
									<div class="selectgroup layout-color w-50">
										<label class="selectgroup-item">
											<input
												type="radio"
												name="value"
												value="1"
												class="
													selectgroup-input-radio
													select-layout
												"
												checked
											/>
											<span class="selectgroup-button"
												>Light</span
											>
										</label>
										<label class="selectgroup-item">
											<input
												type="radio"
												name="value"
												value="2"
												class="
													selectgroup-input-radio
													select-layout
												"
											/>
											<span class="selectgroup-button"
												>Dark</span
											>
										</label>
									</div>
								</div>
								<div class="p-15 border-bottom">
									<h6 class="font-medium m-b-10">
										Sidebar Color
									</h6>
									<div
										class="
											selectgroup selectgroup-pills
											sidebar-color
										"
									>
										<label class="selectgroup-item">
											<input
												type="radio"
												name="icon-input"
												value="1"
												class="
													selectgroup-input
													select-sidebar
												"
											/>
											<span
												class="
													selectgroup-button
													selectgroup-button-icon
												"
												data-toggle="tooltip"
												data-original-title="Light Sidebar"
												><i class="fas fa-sun"></i
											></span>
										</label>
										<label class="selectgroup-item">
											<input
												type="radio"
												name="icon-input"
												value="2"
												class="
													selectgroup-input
													select-sidebar
												"
												checked
											/>
											<span
												class="
													selectgroup-button
													selectgroup-button-icon
												"
												data-toggle="tooltip"
												data-original-title="Dark Sidebar"
												><i class="fas fa-moon"></i
											></span>
										</label>
									</div>
								</div>
								<div class="p-15 border-bottom">
									<h6 class="font-medium m-b-10">
										Color Theme
									</h6>
									<div class="theme-setting-options">
										<ul
											class="
												choose-theme
												list-unstyled
												mb-0
											"
										>
											<li title="white" class="active">
												<div class="white"></div>
											</li>
											<li title="cyan">
												<div class="cyan"></div>
											</li>
											<li title="black">
												<div class="black"></div>
											</li>
											<li title="purple">
												<div class="purple"></div>
											</li>
											<li title="orange">
												<div class="orange"></div>
											</li>
											<li title="green">
												<div class="green"></div>
											</li>
											<li title="red">
												<div class="red"></div>
											</li>
										</ul>
									</div>
								</div>
								<div class="p-15 border-bottom">
									<div class="theme-setting-options">
										<label class="m-b-0">
											<input
												type="checkbox"
												name="custom-switch-checkbox"
												class="custom-switch-input"
												id="mini_sidebar_setting"
											/>
											<span
												class="custom-switch-indicator"
											></span>
											<span class="control-label p-l-10"
												>Mini Sidebar</span
											>
										</label>
									</div>
								</div>
								<div class="p-15 border-bottom">
									<div class="theme-setting-options">
										<label class="m-b-0">
											<input
												type="checkbox"
												name="custom-switch-checkbox"
												class="custom-switch-input"
												id="sticky_header_setting"
											/>
											<span
												class="custom-switch-indicator"
											></span>
											<span class="control-label p-l-10"
												>Sticky Header</span
											>
										</label>
									</div>
								</div>
								<div
									class="
										mt-4
										mb-4
										p-3
										align-center
										rt-sidebar-last-ele
									"
								>
									<a
										href="#"
										class="
											btn btn-icon
											icon-left
											btn-primary btn-restore-theme
										"
									>
										<i class="fas fa-undo"></i> Restore
										Default
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<%- include('../partials/footer') -%>
			</div>
		</div>

		<!-- General JS Scripts -->
		<script src="assets/js/app.min.js"></script>
		<script src="assets/bundles/jquery-validation/dist/jquery.validate.min.js"></script>
		<!-- JS Libraies -->
		<script src="assets/bundles/jquery-steps/jquery.steps.min.js"></script>
		<!-- Page Specific JS File -->
		<!-- <script src="assets/js/page/form-wizard.js"></script> -->
		<script>
			$(function () {
				//Advanced form with validation
				var form = $('#wizard_with_validation').show();
				form.steps({
					headerTag: 'h3',
					bodyTag: 'fieldset',
					transitionEffect: 'slideLeft',
					onInit: function (event, currentIndex) {
						//Set tab width
						var $tab = $(event.currentTarget).find(
							'ul[role="tablist"] li'
						);
						var tabCount = $tab.length;
						$tab.css('width', 100 / tabCount + '%');

						//set button waves effect
						setButtonWavesEffect(event);
					},
					onStepChanging: function (event, currentIndex, newIndex) {
						if (currentIndex > newIndex) {
							return true;
						}

						if (currentIndex < newIndex) {
							form.find(
								'.body:eq(' + newIndex + ') label.error'
							).remove();
							form.find(
								'.body:eq(' + newIndex + ') .error'
							).removeClass('error');
						}

						form.validate().settings.ignore = ':disabled,:hidden';
						return form.valid();
					},
					onStepChanged: function (event, currentIndex, priorIndex) {
						setButtonWavesEffect(event);
					},
					onFinishing: function (event, currentIndex) {
						form.validate().settings.ignore = ':disabled';
						return form.valid();
					},
					onFinished: function (event, currentIndex) {
						// alert("Good job!", "Submitted!", "success");
						const formData = form.serialize();
						$.post('/transfer_to_nupeye', formData, (data) => {
							if (data.success) {
								const {
									message,
									transaction_id,
									amount,
									payment_date,
								} = data.res;
								window.location.href = `/transfer?message=${message}&amount=${amount}&transaction_id=${transaction_id}`;
							}
						});
					},
				});

				form.validate({
					highlight: function (input) {
						$(input).parents('.form-line').addClass('error');
					},
					unhighlight: function (input) {
						$(input).parents('.form-line').removeClass('error');
					},
					errorPlacement: function (error, element) {
						$(element).parents('.form-group').append(error);
					},
					rules: {
						confirm: {
							equalTo: '#password',
						},
					},
				});
			});

			function setButtonWavesEffect(event) {
				$(event.currentTarget)
					.find('[role="menu"] li a')
					.removeClass('waves-effect');
				$(event.currentTarget)
					.find('[role="menu"] li:not(.disabled) a')
					.addClass('waves-effect');
			}
		</script>
		<!-- Template JS File -->
		<script src="assets/js/scripts.js"></script>
		<!-- Custom JS File -->
		<script src="assets/js/custom.js"></script>
	</body>
	<!-- form-wizard.html  21 Nov 2019 03:55:20 GMT -->
</html>
